body {
  height: 144px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgb(25, 25, 25);
  font-family: 'Segoe Ui', sans-serif;
  font-size: 3vh;
}

.card-body {
   padding: 20px;
   color: #9A6DD7;
   font-style: italic;
}
        
.content {
  font-weight: 200;
  text-align: center;
}
        
cite {
  font-size: 80%;
  font-weight: 500;
  font-style: normal;
  color: #E255A1;
}

.dash {
  color: purple;
  opacity: 0.8;
}
